<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the GUDLFT Registration Portal!</h1>
        <p><br>Please enter your secretary email to continue:</p>
        <form action="showSummary" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id=""/>
            <button type="submit">Enter</button>
        </form>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <p class="message-erreur">{{ message }}</p>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>